<!doctype html>
<html lang="en">
  <head>
    <title>login and regastration</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  </head>
  <body>
    {% if request.session.logOn == "True" %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/show/{{id.id}}">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Pages
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/createUser">regiser</a>
        </div>
    </ul>
      <form action = '/Logout' class="form-inline my-2 my-lg-0">
      {% csrf_token %}
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">logout</button>
    </form>
  </div>
</nav>

{% else %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<a class="navbar-brand" href="/index">Home</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav mr-auto">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Pages
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="/createUser">regiser</a>
    </div>
</ul>
<form action = '/Login' method='POST' class="form-inline my-2 my-lg-0">
  {% csrf_token %}
  <input class="form-control mr-sm-2" type="Email" placeholder="Email" name="Email" aria-label="Email">
  <input type="password" class="form-control" id="exampleInputPassword1" name="Password" placeholder="Password">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
</form>
</div>
</nav>
{% endif %}
<h1> Users </h1>
<br>
<table class="table">
<thead>
<tr>
  <th scope="col">id</th>
  <th scope="col">Full Name</th>
  <th scope="col">Email</th>
  <th scope="col">created at</th>
  <th scope="col">updated at</th>
  <th scope="col">Actions</th>
</tr>
</thead>
<tbody>
<tr>
  <th scope="row">{{User.id}}</th>
  <td>{{User.Firstname}} {{User.Lastname}}</td>
  <td>{{User.Email}}</td>
  <td>{{User.created_at}}</td>
  <td>{{User.updated_at}}</td>

  <td><a href="/show/{{id.id}}"> Show </a> | <a href="/openEdit/{{User.id}}">Edit</a> | <a href="/delete/{{id.id}}">Delete</a> </td>
</tr>
</tbody>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>
